{% extends "pages/base.html" %}


{% block title %}Danh sách nhân viên{% endblock %}
{% block main-content %}
<div id="model-room">
    <div class="navbar_room">
        <div class="title-house">Danh sách nhân viên</div>
        <div class="form-search">
            <form action="{% url 'search_personnel' %}" method="POST">
                {% csrf_token %}
                <label for="">Tìm kiếm</label>
                <input type="search" name="fullname">
                <button class="btn" type="submit">Tìm kiếm</button>
            </form>
        </div>
        <div class="navbar-item">
            <a class="add_room" href="{% url 'home' %}"><button class="btn">Trở về</button></a>
        </div>
    </div>
    <div class="list-room-container">
        <div class="form-add-personnel">
            <div class="form-newroom">
                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="row form-item">
                        <div class="col form-fullname">
                            <label class="form-title-room" for="id_personnel">Mã nhân viên</label>
                            <input class="inp" type="text" name="id_personnel">
                            {% if new_personnel.id_personnel %}
                            <span>{{new_personnel.id_personnel.errors}}</span>
                            {% endif %}
                        </div>
                        <div class="col form-fullname">
                            <label class="form-title-room" for="fullname">Tên nhân viên</label>
                            <input class="inp" type="text" name="fullname">
                            {% if new_personnel.fullname %}
                            <span>{{new_personnel.fullname.errors}}</span>
                            {% endif %}
                        </div>
                        <div class="col form-phone">
                            <label class="form-title-room" for="phone">Số điện thoại</label>
                            <input class="inp" type="text" name="phone">
                            {% if new_personnel.phone %}
                            <span>{{new_personnel.phone.errors}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="submit">
                        <button class="btn btn-primary" type="submit">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="display-body-table-container-personnel">
            <table class="display-table">
                <tbody>
                    <tr>
                        <th style="width: 150px;">Mã nhân viên</th>
                        <th style="width: 300px;">Họ tên nhân viên</th>
                        <th style="width: 150px;">Số điện thoại</th>
                        <th style="width: 150px;">Thao tác</th>
                    </tr>
                </tbody>
                {% for personnel in Personnel %}
                <tr>
                    <td style="text-align: center;">{{personnel.id_personnel}}</td>
                    <td style="text-align: center;">{{personnel.fullname}}</td>
                    <td style="text-align: center;">{{personnel.phone}}</td>
                    <td>
                        <div class="td-item">
                            <a class="list-item-link edit-room" href="{% url 'edit_personnel' personnel.id_personnel %}"><button type="button">Sửa</button></a>
                            <a class="list-item-link edit-room" href="{% url 'delete_personnel' personnel.id_personnel %}"><button type="button">Xóa</button></a>
                            {% if personnel.house.all %}
                            <a class="list-item-link edit-room" href="{% url 'get_house_of_personnel' personnel.id_personnel %}"><button type="button">Nhà</button></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    
    </div>
</div>

{% endblock main-content %}